# Binaries
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Uploads directory (Crucial to ignore user uploaded data)
uploads/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Environments
.env
.env.*
!.env.example

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
